<div class="row">
    <br><br>
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Hola wey!!</h3>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Path</label>
                        <input type="text" class="form-control" [(ngModel)]="model.Path" name="Path" placeholder="Path">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Git</label>
                        <input type="text" class="form-control" [(ngModel)]="model.Repository" name="Repository" placeholder="Git">
                    </div>
                    <button type="button" class="btn btn-default" (click)="commit()">Submit</button>
                </form>
            </div>
        </div>

        <div class="panel panel-primary" *ngIf="response.header">
            <div class="panel-heading">
                <h3 class="panel-title">Response</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-danger" role="alert" *ngIf="response.header.code == 500">
                    {{response.header.message}}
                </div>
                <br />
                <div class="alert alert-success" role="alert" *ngIf="response.header.code == 200">
                    Ok!!
                </div>
                <br />
                <ul class="list-group" *ngIf="response.header.code == 200">
                    <li class="list-group-item">Repositorio: {{response.data.repository}}</li>
                    <li class="list-group-item">Rama: {{response.data.branch}}</li>
                    <li class="list-group-item">Ruta fisica: {{response.data.path}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>